// Place all the styles related to the public::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cover-customer-show {
  font-family: sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
  background-image: image-url("17.jpeg");
  background-blend-mode: lighten;
  background-size: 100% 100%;
  overflow: auto;
}

.cover-likes {
  margin: 5px 30px;
}