<div class="soccergroups-container">
  <%= link_to "new", new_soccer_group_path %> <!--グループの作成-->
  
  <br>
      <% @soccergroups.each do |s| %> <!--グループの一覧表示-->
      
    ・<%= link_to  new_post_path(s.id) do %><%= s.name %><% end %><br>
  <% end %>
</div>