<div class="cover-home-about">
  <div class="container">
    <div class="mx-auto mb-5">
    <h1 class="display-2 text-center">About</h1>
    </div>
  
  <p class="text-center">
    footballfanの集いはサッカー関連の投稿ができるコミュニティサイトです。<br>
    サッカーファンやサッカーに興味がある方も、気軽に投稿することができます。<br>
    サッカーの魅力をたくさん発信してサッカー界を盛り上げていきましょう!!<br>
  </p>
  
  </div>
</div>

