

  <div class="card-img-overlay">
    <h1 class="display-3 font-weight-bold">ようこそ、footballfanの集いへ！</h1>
    <h5 class="font-weight-bold">このサイトは、サッカーファン向けのコミュニティサイトになります。
      会員でない方も投稿の閲覧はできますが、投稿するには会員登録が必要になります。</h5>
  </div>
</div>


<div class='container mt-2'>
  <div class='row'>
    <div class-"col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
    </div>
  </div>
</div>